:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: smaller;

  color-scheme: light dark;
  color: rgba(250, 244, 244, 0.87);
  background-color: #f1eded;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   --primary: #4361ee;
  --secondary: #3f37c9;
  --accent: #4895ef;
  --light: #f8f9fa;
  --dark: #212529;
  --success: #4cc9f0;
  --warning: #f72585;
  --mobile: #7209b7;
  --tablet: #3a0ca3;
  --desktop: #4361ee;
  --gray: #6c757d;
  --light-gray: #e9ecef;
  --border-radius: 12px;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease
}
